        <div class="navigation">
            <button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button>
            <div module="Layout_category" class="navigation__category RW">
                <!--@css(/css/module/layout/category.css)-->
                <ul>
                    <!-- 상품 분류네이 -->
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                </ul>
            </div>

        </div>